body {
    
    background:url(/Assets/bg.jpg);
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
   
  
}

.container {
   
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
   
}




.form-body {
    padding: 20px;
  
}

.inner-container {
    margin-bottom: 20px;
   
    
}

.inner-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.inner-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color:grey;
    color:white;
    line-height: 30px;
}




.container{
    opacity:1;
    
}
.inner-container input::placeholder{
    color:whitesmoke;
    background-color:grey;
    opacity:1;
}
.inner-container input{
    color:whitesmoke;
    opacity:1;
}





.inner-container button {
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;

}

.inner-container button:hover {
    background-color: white;
    cursor:pointer;
}

.form-switch {
    text-align: center;
    margin-top: 10px;
}

.form-switch p{
    color:white;
}

.form-switch a {
    color: orange;
    text-decoration: none;
}

.form-switch a:hover {
    text-decoration: underline;
}

.sidebar_menu .logo a:hover{
    box-shadow:0 2px 6px rgba(0,0,0,1);
}
.container{
    opacity:1;
}
.rem-for{
    color:white;
    
    
}
.rem-for a{
    color:white;
    margin-left:120px;
    font-size:16px;
    text-decoration: dashed;
 
}
h2{
    text-align:center;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}